<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>加载地形--简单级</title>
	</title>
	<script src="CesiumUnminified/Cesium.js"></script>
	<script src="js/vue.common.dev.js"></script>
	<style>
		@import url(CesiumUnminified/Widgets/widgets.css);

		html,
		body,
		#cesiumContainer {
			width: 100%;
			height: 100%;
			margin: 0;
			padding: 0;
			overflow: hidden;
		}

		.cesium-viewer-bottom {
			display: none !important;
		}
		
		#selects {
			position: absolute;
			top: 15px;
			left: 15px;
		}
	</style>
</head>

<body>
	<div id="cesiumContainer"></div>
	<div id="selectBox">

		<my-select :options="options"></my-select>

	</div>
	<script type="text/x-template" id="selectTemp">
		<select id="selects" v-model="selected" v-if="options.length > 0" >
			<option :value="item.value" v-for="(item,index) in options" :key="index">{{item.label}}</option>
		</select>
	</script>
	<script type="text/javascript">
		//设置默认视角
		var china = Cesium.Rectangle.fromDegrees(100.0, 10.0, 120.0, 70.0);
		Cesium.Camera.DEFAULT_VIEW_RECTANGLE = china;

		//三维视图入口
		var viewer = new Cesium.Viewer("cesiumContainer", {
			scene3DOnly: true,
			selectionIndicator: false,
			baseLayerPicker: false,
			geocoder: true,
			CreditsDisplay: false,
			animation: false,
			timeline: false,
			fullscreenButton: false,//全屏按钮
			//globe : true, //加载地球
			// ImageryProvider : new Cesium.Ars({
			// 	mapId : "mapbox.streets"
			// })
		});

		//地形影像加载
		var word = Cesium.createWorldTerrain({
			requestWaterMask: true,
			requestVertexNormals: true,
		});
		var bb = new Cesium.CesiumTerrainProvider({
			url: Cesium.IonResource.fromAssetId(3956),
			requestVertexNormals: true
		});
		var vrTheWorldProvider = new Cesium.VRTheWorldTerrainProvider({
			url: "http://www.vr-theworld.com/vr-theworld/tiles1.0.0/73/",
			credit: "Terrain data courtesy VT MÄK"
		});
		viewer.terrainProvider = bb;
		viewer.scene.globe.depthTestAgainstTerrain = true; // 打开深度检测，地形以下不可见
		// viewer.scene.primitives.add(new Cesium.Cesium3DTileset({ url: Cesium.IonResource.fromAssetId(124624234) }));

		Vue.component("my-select", {
			template: "#selectTemp",
			props: {
				options: Array
			},
			data() {
				return {
					selected: 1
				}
			},
			watch: {
				selected: {
					handler(newVal, oldVal) {
						let Cartesian3, orientation;
						let self = this;

						if (newVal != oldVal) {
							switch (Number(newVal)) {
								case 1:
									Cartesian3 = self.setCartesian3ByRadians(-2.6399828792482234,
										1.0993550795541742,
										5795);
									orientation = self.setHPR_byRadians(3.8455, -0.4535, 0.0)
									break;
								case 2:
									Cartesian3 = self.setCartesian3ByRadians(-2.610708034601548,
										1.0671172431736584,
										1900);
									orientation = self.setHPR_byRadians(4.6, -0.341, 0.0)
									break;

							}
							viewer.scene.camera.flyTo({
								destination: Cartesian3,
								orientation: orientation
							})
						}
					},
					immediate: true
				}
			},
			methods: {

				setCartesian3ByRadians(lang, lat, h) {
					return Cesium.Cartesian3.fromRadians(
						lang,
						lat,
						h
					)
				},
				setHPR_byRadians(h, p, r) {
					return {
						heading: h,
						pitch: p,
						roll: r
					}
				}
			},
		})
		new Vue({
			el: "#selectBox",
			data: {
				options: [

					{ label: "雪山", value: 1 },
					{ label: "area", value: 2 }
				]
			}
		})

	</script>
</body>

</html>